body {
  margin: 0;
  text-decoration-color: #3b3b3b;
}

input {
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #e8edee;
  overflow: hidden;
}

.flex {
  display: flex;
}

#wrapper {
  height: 100%;
  width: 100%;
}

#viewers {
  position: absolute;
  top: 10;
  right: 10;
  color: #ef3d47;
}

#videoWrapper {
  width: 80%;
}

#playerWrapper {
  width: 100%;
  height: 96%;
}

#playFormWrapper {
  width: 100%;
  height: 4%;
}

#playForm {
  width: 100%;
  height: 100%;
}

#syncBtn {
  width: 20%;
  background-color: #ffdd8f;
}

#idInput {
  width: 80%;
  text-align: center;
}

#playBtn {
  width: 20%;
  background-color: #49e1b9;
}

#chatWrapper {
  width: 20%;
}

#messages {
  width: auto;
  height: 96%;
  margin: 0;
  padding: 0;
  background-color: #d1dbde;
  overflow-y: auto;
  overflow-wrap: break-word;
  justify-content: flex-end;
  flex-direction: column;
  list-style-type: none;
}

#messages li {
  padding: 2.5% 5%;
}
#messages li:nth-child(odd) {
  background-color: #bbc9ce;
}

#chatForm {
  width: 100%;
  height: 4%;
  margin: 0;
}

#chatInput {
  width: 80%;
}

#chatBtn {
  width: 20%;
  background-color: #51a9c7;
}
