* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #EEEEEE;
}

body.lightMode {
  color: #282828;
}

input {
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #282828;
  color: #EEEEEE;
  overflow: hidden;
  outline-style: none;
}

input.lightMode {
  background-color: #d6d6d6;
  color: #282828;
}

input:hover {
  filter: brightness(80%);
}

input[type=submit] {
  font-weight: bold;
  color: #EEEEEE;
}

input[type=submit]:active {
  filter: brightness(50%);
}

.flex {
  display: flex;
}

#wrapper {
  height: 100%;
  width: 100%;
}

#videoWrapper {
  width: 80%;
}

#playerWrapper {
  width: 100%;
  height: 96%;
}

#playFormWrapper {
  width: 100%;
  height: 4%;
}

#playForm {
  width: 100%;
  height: 100%;
}

#syncBtn {
  width: 10%;
  background-color: #f44336;
}

#idInput {
  width: 90%;
  text-align: center;
}

#playBtn {
  width: 10%;
  background-color: #4CAF50;
}

/*#queueBtn {
  width: 10%;
  background-color: #9b59b6;
}*/

#chatWrapper {
  width: 20%;
  overflow: hidden;
}

#viewersWrapper {
  width: 20%;
  height: 4%;
  position: absolute;
  top: 0;
  background-color: #282828;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

#viewersWrapper.lightMode {
  background-color: #d6d6d6;
}

#viewers {
  width: 80%;
  height: 100%;
  color: #ef5350;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#toggleBtn {
  width: 20%;
  justify-content: center;
}

#toggleBtn.lightMode {
  color: #282828;
}

#videoQueueWrapper {
  width: 20%;
  height: 4%;
  position: absolute;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 4%;
  border-top: 1px solid #1B1B1B;
  border-bottom: 1px solid #1B1B1B;
  background-color: #282828;
  color: #d6d6d6;
  text-align: center;
}

#videoQueueWrapper.lightMode {
  background-color: #d6d6d6;
  color: #282828;
  border-top-color: #BDBDBD;
  border-bottom-color: #BDBDBD;
}

#videoQueueInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*#skipBtn {
  width: 20%;
  justify-content: center;
  background-color: #f39c12;
}*/

#messages {
  width: auto;
  height: 96%;
  background-color: #353535;
  overflow-y: auto;
  overflow-wrap: break-word;
  justify-content: flex-end;
  flex-direction: column-reverse;
  list-style-type: none;
}

#messages.lightMode {
  background-color: #E1E1E1;
}

li {
  padding: 2.5% 5%;
}

li:nth-child(odd) {
  background-color: #424242;
}

li:nth-child(odd).lightMode {
  background-color: #EEEEEE;
}

#chatFormWrapper {
  width: 100%;
  height: 4%;
}

#nameForm {
  width: 20%;
  height: 4%;
  position: absolute;
}

#nameInput {
  width: 80%;
}

#nameInput::placeholder {
  color: #ef5350
}

#nameBtn {
  width: 20%;
  background-color: #2196F3;
}

#chatForm {
  width: 100%;
  height: 100%;
}

#chatInput {
  width: 80%;
}

#chatBtn {
  width: 20%;
  background-color: #2196F3;
}
