body {
  margin: 0;
  background-color: #e8edee;
  text-decoration-color: #3b3b3b;
}

#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

#viewers {
  position: absolute;
  top: 10;
  right: 10;
  color: #ef3d47;
}

#video {
  width: 80%;
  min-width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#playerWrapper {
  width: 100%;
  height: 96%;
  overflow: hidden;
}

#buttonWrapper {
  width: 100%;
  height: 4%;
  min-height: 4%;
  display: flex;
}

#syncBtn {
  width: 20%;
  height: 100%;
  border: none;
  background-color: #ffdd8f;
  overflow: hidden;
}

#idInput {
  width: 60%;
  height: 100%;
  padding: 0;
  border: none;
  text-align: center;
  background-color: #e8edee;
  padding-left: 1rem;
  padding-right: 1rem;
}

#newVideoBtn {
  width: 20%;
  height: 100%;
  border: none;
  background-color: #49e1b9;
  overflow: hidden;
}

#chat {
  width: 20%;
  min-width: 20%;
}

#messages {
  width: auto;
  height: 96%;
  margin: 0;
  padding: 0;
  background-color: #d1dbde;
  overflow-y: auto;
  overflow-wrap: break-word;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  list-style-type: none;
}

#messages li {
  padding: 2.5% 5%;
}
#messages li:nth-child(odd) {
  background-color: #bbc9ce;
}

#chatBoxWrapper {
  width: 100%;
  height: 4%;
  min-height: 4%;
  display: flex;
  margin: 0;
  overflow: hidden;
}

#chatBox {
  width: 80%;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #e8edee;
}

#send {
  width: 20%;
  border: none;
  background-color: #51a9c7;
}
